# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
/src/keys.ts
/weather-khln-firebase-adminsdk-ee90i-84704d0ab3.json
